* {
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f9fbfd;
}

a {
  all: unset;
  cursor: pointer;
}

li,
ul {
  all: unset;
}

.navigation-bar {
  display: flex;
  background: #edf2fa;
  position: sticky;
  top: 0;
  z-index: 33;
}

nav,
.navigation-bar-wrapper {
  max-width: 900px;
  width: 100%;
  display: flex;
  height: 50px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin-left: 10px;
  font-weight: bold;
}

.list-wrapper {
  display: flex;
}

.list-item a {
  padding: 14px;
  cursor: pointer;
}

.section {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  border-radius: 30px;
  margin: 10px auto;
  display: flex;
}

.stick {
  position: sticky;
  top: 45px;
  background: #f9fbfd;
  margin: 15px 0 30px;
  padding: 10px 0;
  border-bottom: 1px solid #edf2fa;
  /*box-shadow: 0px 11px 7px -5px rgba(0, 0, 0, 0.16);*/
}
.about {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 70px);
}

.img {
  border-radius: 50%;
  width: 200px;
}

.work {
  flex-direction: column;
}

.work h3 {
  margin: 0;
}

.work h4 {
  margin: 0 0 10px;
}

.work-experience {
  margin: 0 0 20px 0;
}
.projects {
  flex-direction: column;
}

.skills {
  flex-direction: column;
  justify-content: center;
}
.skills span {
  font-weight: bold;
}

.work li,
.projects li,
.skills li {
  all: revert;
  margin-left: 20px;
}

.contact {
  flex-direction: column;
}
.contact-option {
  display: flex;
}
.social {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.contact a {
  margin: 10px 0;
}

.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input,
textarea {
  padding: 8px;
  width: 50%;
}
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.button {
  height: 40px;
  border: 1px solid #d4e3ff;
  width: 49%;
  font-size: 1rem;
  cursor: pointer;
}

.primary {
  background-color: #d4e3ff;
}

.secondary {
  background-color: transparent;
}

.secondary:hover {
  color: red;
  border-color: red;
}

@media screen and (max-width: 500px) {
  .hide {
    display: none;
  }
  .contact-option {
    flex-direction: column;
  }
  .social {
    align-items: flex-start;
  }
  .list-item a {
    padding: 14px 12px;
  }
  .navigation-bar-wrapper {
    justify-content: space-around;
  }
}
